@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-logo: 72 142 255;
    --color-primary: 72 142 255;
    --color-secondary: 86 94 113;
    --color-tertiary: 113 85 116;
    --color-error: 186 26 26;
    --color-background: 255, 255, 255;
    --color-outline: 116 119 127;
    --color-primary-container: 216 226 255;
    --color-secondary-container: 219 226 249;
    --color-tertiary-container: 251 215 252;
    --color-error-container: 255 218 214;
    --color-surface-variant: 225 226 236;
    --color-on-primary: 255 255 255;
    --color-on-secondary: 255 255 255;
    --color-on-tertiary: 255 255 255;
    --color-on-error: 255 255 255;
    --color-on-background: 27 27 31;
    --color-on-primary-container: 0 26 65;
    --color-on-secondary-container: 19 27 44;
    --color-on-tertiary-container: 41 19 45;
    --color-on-error-container: 65 0 2;
    --color-on-surface-variant: 68 71 79;
  }
  @media (prefers-color-scheme: dark) {
    :root {
      --color-logo: 200 198 255;
      --color-primary: 200 198 255;
      --color-secondary: 191 198 220;
      --color-tertiary: 222 188 223;
      --color-error: 255 180 171;
      --color-background: 27 27 31;
      --color-outline: 142 144 153;
      --color-primary-container: 0 68 147;
      --color-secondary-container: 63 71 89;
      --color-tertiary-container: 88 62 91;
      --color-error-container: 147 0 10;
      --color-surface-variant: 68 71 79;
      --color-on-primary: 0 46 105;
      --color-on-secondary: 40 48 65;
      --color-on-tertiary: 64 40 67;
      --color-on-error: 105 0 5;
      --color-on-background: 227 226 230;
      --color-on-primary-container: 216 226 255;
      --color-on-secondary-container: 219 226 249;
      --color-on-tertiary-container: 251 215 252;
      --color-on-error-container: 255 218 214;
      --color-on-surface-variant: 196 198 208;
    }
  }
}
